.card-image {
  position: relative;

  border-radius: 12px;
}

.card-image-selection {
  position: absolute;
  top: 0;

  box-sizing: border-box;

  border: 7px solid transparent;
  border-radius: 8px;

  height: 100%;
  width: 100%;
}
